<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">오시는길</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" style="width:60%">
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-calendar wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
                  <h3>일시</h3>
                  <p class="text-muted">2022년 6월 24일(금)</p>
                  <p class="text-muted"> 저녁 6:00</p>
              </div>
          </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    <h3>장소</h3>
                    <p class="text-muted"><a href="http://naver.me/xyUju9vJ">팔진향 한옥마을점</a></p>
                    <p class="text-muted"><a href="http://naver.me/xyUju9vJ">연수구 테크노파크로 180</a></p>
                    <p class="text-muted"><a href="http://naver.me/xyUju9vJ">나동 2층</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
